@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

nav a {
  color: lightcyan;
  text-decoration:none; 
}

.header-image {
  height: 200px;
}

.active-nav {
  font-weight: bolder;
}

.logout {
  color: lightcyan;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form, .login-form {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addtodo-form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.incomplete {
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background-color: lightcyan;
  padding: 10px;
  margin-bottom: 10px;
}

.completed {
  cursor: pointer;
  text-decoration:line-through;
  border: 1px dotted black;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-list {
  min-height: 150px;
}
